:root {
    --violet: #54577C;
    --blue: #4a7b9d;
    --cream: #faffd8;
    --lime: #ecffb0;
    --gray: 9aa899;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    scroll-behavior: smooth;
    font-size: 62.5%
}

body {
    background-color: var(--cream) !important;
    font-size: 2rem !important;
    color: var(--blue) !important;
}

#navbar {
    font-size: 3rem !important;
    background-color: var(--violet) !important;
    /* color: #ECFFB0 !important; */
}

.navbar-brand {
    color: var(--lime) !important;
    font-size: 4rem !important;
    margin-left: 2rem !important;
}
.searchbar{
    margin:auto !important;
}
/* .row{
    margin: auto !important;

} */
#city-title{
    font-size: 4rem;
    text-align: center;
}
#search-btn {
    background-color: var(--violet) !important;
    color: var(--lime);
    /* border: var(--violet); */
}

#search-container {
    margin-left: auto !important;
    /* border-radius: 2rem;
    border: .3rem solid var(--violet); */
    display: flex;
    flex-direction: column;
}

img {
    max-width: 6rem !important;
    /* height: auto !important; */
}

#current-weather-div {
    /* border-radius: 2rem;
    border: .3rem solid var(--violet); */

}

/* .outline {
    border-radius: 2rem;
    border: .3rem solid var(--violet);
    
} */

.card{
    background-color: var(--cream) !important;
}

#day-container0,
#day-container1,
#day-container2,
#day-container3,
#day-container4 {
    /* display: flex !important;
    justify-content: space-between !important;
} */

#day-container[i]{
display: flex !important;
    justify-content: space-between !important;
}
}